.about-container {
  display: grid;

  height: 110vh;
  font-size: 22px;
}

.title {
  margin-top: 5%;
  margin-bottom: 0%;
  margin-left: 25%;
}

.paragraph-container {
  place-content: center;
  text-align: left;
  text-align: justify;
  margin-top: 0%;
  font-size: 20px;
  color: #717171;
  margin-right: 25%;
  margin-left: 25%;
}
