.about-container {
  display: grid;
  margin-left: 35%;
  margin-right: 35%;
}

.title {
  margin-bottom: 10px;
  text-align: left;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.paragraph-container {
  text-align: left;
  font-family: sans-serif;
  margin-top: 0%;
  font-size: 14px;
  color: #888585;
}
