.home-container {
  display: grid;
  place-items: left;

  height: 25vh;
  margin-left: 35%;
  margin-right: 35%;
}

.profile-container {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 16px;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.name-heading {
  font-size: 22px;
  margin-bottom: 0px;
  font-weight: 500;
  font-family: sans-serif;
}

.intro {
  font-size: 14px;
  color: #717171;
  font-family: sans-serif;
}
