.section {
  display: grid;
  place-items: center;
  height: 100vh;
  font-size: 32px;
  font-weight: bold;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 2em;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  margin: 0 auto;
  position: relative;
}

.nav-item {
  padding: 0 10px;
  font-size: 18px;
}

.active {
  font-weight: bold;
}

ul {
  display: flex;
  gap: 1rem;
  font-size: 0.9rem;
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
}

li:hover {
  text-decoration: underline;
}
