.footer {
  background-color: #525252;
  color: #fff;
  text-align: center;
  padding: 20px;
  bottom: 0;
  width: 100%;
  font-family: sans-serif;
}

.message {
  font-size: 14px;
}

.social-icons {
  margin-top: 10px;
}

.icon {
  font-size: 24px;
  margin: 0 10px;
  color: #fff;
}

.icon:hover {
  color: rgb(152, 150, 150);
}
